<!DOCTYPE html>
<html>
<head>
  <title>TwitterBootstrap</title>
  <%= stylesheet_link_tag    "twitter_bootstrap/application" %>
  <%= javascript_include_tag "twitter_bootstrap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
